<div class="registration-container">
    <h2>Criar Conta</h2>
  
    <!-- Mensagem de sucesso -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <!-- Mensagem de erro da API -->
  <div *ngIf="apiErrorMessage" class="error-message">
    {{ apiErrorMessage }}
  </div>

  <form [formGroup]="criarContaForm" (ngSubmit)="onSubmit()">
    <!-- Campos do formulário -->
    <div class="form-group">
      <label for="primaryName">Nome</label>
      <input type="text" id="primaryName" formControlName="primaryName" class="form-control" placeholder="Insira seu nome" />
      <div *ngIf="criarContaForm.get('primaryName')?.invalid && criarContaForm.get('primaryName')?.touched" class="error-message">
        Nome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="secondName">Sobrenome</label>
      <input type="text" id="secondName" formControlName="secondName" class="form-control" placeholder="Insira seu sobrenome" />
      <div *ngIf="criarContaForm.get('secondName')?.invalid && criarContaForm.get('secondName')?.touched" class="error-message">
        Sobrenome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Insira seu email" />
      <div *ngIf="criarContaForm.get('email')?.invalid && criarContaForm.get('email')?.touched" class="error-message">
        Por favor, insira um email válido.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Insira sua senha" />
      <div *ngIf="criarContaForm.get('password')?.invalid && criarContaForm.get('password')?.touched" class="error-message">
        A senha deve ter pelo menos 6 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmarSenha">Confirmar Senha</label>
      <input type="password" id="confirmarSenha" formControlName="confirmarSenha" class="form-control" placeholder="Confirme sua senha" />
      <div *ngIf="criarContaForm.hasError('senhasNaoCombinam') && criarContaForm.get('confirmarSenha')?.touched" class="error-message">
        As senhas não coincidem.
      </div>
    </div>

    <!-- Botão de Submit com Loading -->
    <button type="submit" [disabled]="criarContaForm.invalid || loading" class="btn btn-primary">
      <span *ngIf="!loading">Criar Conta</span>
      <span *ngIf="loading">
        <div class="spinner"></div> Cadastrando...
      </span>
    </button>
  </form>

  <!-- Link para Login -->
  <div class="next-step">
    Já tem uma conta? <a routerLink="/login">Faça login</a>
  </div>
</div>