
@use  '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');




// Personalize todo o aplicativo. Altere :root para o seu seletor se quiser delimitar os estilos. 
:root {
   @include mat.toolbar-overrides((
     container-background-color : #86d4c2,
     container-text-color : #266456,
     title-text-weight: 500,
  ));
}

* {

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body, main, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECECEC;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
